<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2520 Php and MySQL</h1>
    <p>This course covered the basics of using PHP with MySQL. I learned about building
        Dynamic websites using PHP and how to set up and interact with MySQL databases. I also
        was able to practice debugging PHP through Visual Studio Code. Towards the end of the
        course I learned about Cookies and Session and how to utilize them. Along with some
        some more 'advanced' topics such as Regular Expressions, security methods to avoid SQL and XSS attacks,
        and some basics for using OOP in PHP.</p>
    <p>Overall I enjoyed learning PHP and the projects the course had me work on. Throughout the
        course we slowly developed a sample webpage and small database, that allowed users to
        register, login, and change their passwords. Along with being able to view and sort a list
        of all users. This was made interesting to me because instead of just using a default array
        of users that was reset each time the program ran. We used the database to add and remove
        users as the 'registered' users for the website. Along with being able to edit their
        user details from the site. I found that I enjoyed working on this project and look forward
        to learning more about website / database design.</p>
  </div>
  <div class="block">

  </div>
</div>
