<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2610 API Basics</h1>
    <p>This course covered the basics of building and securing API's, using the .NET Core. The course
    started out by covering the basics of how to use API's, doing things such as Get, Post, Put, PATCH and DELETE.
    I built several small applications that utilized already existing API's. One such used a NASA API to grab and
    display the picture of the day, along with some fun facts about the image. After getting comfortable using
    pre-built API's I then learned about the basics of setting up my own. I used several sample city locations,
    along with some basic information that I was able to call. The course ended with some more advanced topics
    covering API keys, along with authentication and protection of the API's. </p>
    <p>One of the last projects I worked on was a simple website that allowed users to login with a user name
    and password, and then store images. I thought this project was cool because I was able to login as different
    users and store different images. Each user could either be a 'paid' or 'free' users and so there where
    certain features that were only available to the 'paid' users. </p>
  </div>
  <div class="block">

  </div>
</div>
